<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--创建userSevice实现类 默认构造函数创建 -->
    <bean id="userService" class="com.itheima.service.impl.UserServiceImpl">
        <!--set方式注入 给成员赋值 若是普通类型直接使用name value 若是bean对象 用ref指向另外一个对象的id -->
        <property name="userDao" ref="userDao">
        </property>
    </bean>
    <!--使用工厂类中的某个方法创建一个userDao实现类 factory-bean指向该类对象的id -->
    <bean id="userDao" factory-bean="proxyfactory" factory-method="getMapper">
    </bean>
    <!--工厂类对象的默认构造方法 -->
    <bean id="proxyfactory" class="com.itheima.factory.ProxyFactory">
        <!--构造函数注入的方式给成员赋值-->
        <constructor-arg name="factory" ref="factory"></constructor-arg>
        <constructor-arg name="type" value="com.itheima.dao.IUserDao"></constructor-arg>
    </bean>
    <!-- 自定义一个userDao实现类 -->
    <!--<bean id="userDao" class="com.itheima.dao.impl.UserDaoImpl">-->
      <!--<property name="build" ref="factory"></property>-->
    <!--</bean>-->
    <!-- 使用类中的方法创建对象sqlsesssionfactory并存入容器 -->
    <bean id="factory" factory-bean="sqlSessionFactory1" factory-method="build"></bean>
    <bean name="FactoryBuilder" id="sqlSessionFactory1" class="com.itheima.factory.FactoryBuilder"></bean>
</beans>